:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;  
  background-color: black;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}